[submodule "alttab"]
	path = alttab
	url = https://github.com/fijshion/awesome_alttab
[submodule "awesome-configs"]
	path = awesome-configs
	url = http://git.sysphere.org/awesome-configs
[submodule "cyclefocus"]
	path = cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
[submodule "blingbling"]
	path = blingbling
	url = https://github.com/fijshion/blingbling
